{% extends 'base.html' %} 
{% block content %}

<section class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="h2 mb-0">Candle</h1>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-md-end bg-transparent p-0 m-0">
            <li class="breadcrumb-item"><a class="text-dark" href="#"><i class="las la-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item">Shop</li>
            <li class="breadcrumb-item active text-success" aria-current="page">Candle</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!--hero section end--> 

  <!-- care self products -->
  <div class="page-content">

    <section>
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-5 mb-3 mb-md-0"> <span class="text-muted">Showing 1 to 18 of 20 total</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/photo_milk.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/photo_milk2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Candle Milk</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$10.00</del> $12.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8 mt-md-0">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/vanila.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/vanila2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Candle vanila</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$7.00</del> $10.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8 mt-lg-0">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/photo_orang.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/photo_orang2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Candle Orang</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$8.00</del> $10.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/bazal orang.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/bazal2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Bazal Orange</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$5.00</del> $7.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/candlegreen.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/candlegreen.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Candle Green</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$12.00</del> $15.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/Gujarat.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/gujarat2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Gujarat Candl</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$2.00</del> $3.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/pakhor.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/pakhor2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">pakhor</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$18.00</del> $15.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/figurine.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/figurine2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">>Figurine Candle</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$22.00</del> $26.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-8">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="lar la-heart"></i>
              </button>
              <a class="card-img-hover d-block" href="cartproduct.html">
                <img class="card-img-top card-img-back" src="assets/images/candle/Honey Candle.jpg" alt="...">
                <img class="card-img-top card-img-front" src="assets/images/candle/honey candle2.jpg" alt="...">
              </a>
              <div class="card-success">
                <div class="card-body">
                  <div class="product-title"><a class="link-title" href="cartproduct.html">Honey</a>
                  </div>
                  <div class="mt-1"> <span class="product-price"><del class="text-muted">$35.00</del> $25.00</span>
                    <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <div class="product-link d-flex align-items-center justify-content-center">
                    <button class="btn btn-compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Compare" type="button"><i class="las la-random"></i> 
                    </button>
                    <button class="btn-cart btn btn-success btn-animated mx-3" type="button"><i class="las la-shopping-cart me-1"></i>
                    </button>
                    <button class="btn btn-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><span data-bs-target="#quick-view" data-bs-toggle="modal"><i class="las la-eye"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <nav aria-label="Page navigation" class="mt-8">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>

       
{% endblock %}